.edit-content {
    margin: 15px;

    & .student-edit-fields {
        display: flex;
        flex-flow: column;
        gap: 10px;

        & label {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 30px;

            & span {
                width: 80px;
            }
        }
    }

    & .controll-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        & .save {
            color: white;
            background-color: #88d8b0;
        }

        & .cancel {
            color: white;
            background-color: #ff6f69;
        }
    }
}

input, select {
    padding: 5px;
    border-radius: 5px;
    border-width: thin;
}
